.price-item {
  font-size: 1.5rem;
  font-weight: 500;
}

.card-information .price-item {
  font-size: 1rem;
}

/* FOR REVIEWS - SHOPIFY APP SPECIFIC ??  */
.spr-stars span {
  display: flex;
}

.spr-starrating {
  margin: 1rem 0;
}

.spr-starrating a {
  font-size: 1rem;
}

.spr-review-header {
  border-bottom: .2rem solid var(--color-scheme-accent);
  width: 33%;
  margin-bottom: 1rem;
}

.spr-header-title {
  font-family: var(--font-heading-family);
}

.share-button__button {
  font-size: 1.1rem;
}

.hide-label {
  display: none;
}

.divider {
  margin: 2rem 0;
}

.product {
  display: flex;
}

.product--right {
  flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
  .product {
    flex-direction: column;
  }

  .product--stacked_single_column .slider-buttons {
    display: none;
  }
}

.product .thumbnail-list {
  display: flex;
}

quantity-input {
  width: 50%;
}

.quantity__button {
  height: 2rem;
  width: 2rem;
  margin: auto;
}

.product-form__input input[type='radio'] + label {
  padding: 1rem 0 0;
  width: auto;
  min-width: 3rem;
  height: 3rem;
  font-size: 1rem;
  text-align: center;
}

.product-form__input input[type='radio']:checked + label {
  @apply
    bg-button-bg
    text-button-fg;
}

.product .select__select {
  height: 3rem;
}

.product__title {
  word-break: break-word;
}

.product .form__label {
  font-size: 1.2rem;
  margin-bottom: 0;
  margin-top: 1rem;
}

.product-form__submit {
  background: var(--color-scheme-accent);
  color: var(--color-scheme-bg);
}

.shopify-payment-button__button {
  border: 2px solid var(--color-scheme-accent);
  padding: 0;
}

.slider__slide {
  width: calc(33% - .6rem);
}

@media screen and (min-width: 768px) {
  .product--stacked_single_column {
    width: 100%;
  }
}

.product--stacked_single_column .product__media-list {
  flex-direction: column;
}

.product--stacked_single_column .product__media-item {
  display: block;
  width: 100%;
}

.media-item__stacked_single {
  width: 100%;
}

.product-popup-modal {
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  z-index: -1;
  margin: 0 auto;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  background: rgb(var(--color-background) .2);
  height: 100%;
}

.product-popup-modal[open] {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}

.product-popup-modal__content {
  background-color: var(--color-scheme-bg);
  overflow: auto;
  height: 80%;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5rem;
  width: 92%;
  position: absolute;
  top: 0;
  padding: 0 1.5rem 0 3rem;
  border-style: solid;
}

.product-popup-modal__content.focused {
  box-shadow: 0 0 0 .3rem rgb(var(--color-background)), 0 0 .5rem .4rem rgb(var(--color-foreground) .3), var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset)
    var(--popup-shadow-blur-radius)
    rgb(var(--color-shadow) var(--popup-shadow-opacity));
}

.product-popup-modal__content:focus-visible {
  box-shadow: 0 0 0 .3rem rgb(var(--color-background)), 0 0 .5rem .4rem rgb(var(--color-foreground) .3), var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset)
    var(--popup-shadow-blur-radius)
    rgb(var(--color-shadow) var(--popup-shadow-opacity));
}

@media screen and (min-width: 768px) {
  .product-popup-modal__content {
    padding-right: 1.5rem;
    margin-top: 10rem;
    width: 70%;
    padding: 0 3rem;
  }

  .product-media-modal__dialog .global-media-settings--no-shadow {
    overflow: visible !important;
  }
}

.product-popup-modal__content img {
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .product-popup-modal__content table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0;
  }

  .product-media-modal__dialog .global-media-settings,
  .product-media-modal__dialog .global-media-settings video,
  .product-media-modal__dialog .global-media-settings model-viewer,
  .product-media-modal__dialog .global-media-settings iframe,
  .product-media-modal__dialog .global-media-settings img {
    border: none;
    border-radius: 0;
  }
}

.product-popup-modal__opener {
  display: inline-block;
}

.product-popup-modal__button {
  font-size: 18px;
  padding-right: 1.3rem;
  padding-left: 0;
  height: 4.4rem;
  text-underline-offset: .3rem;
  text-decoration-thickness: .1rem;
  transition: text-decoration-thickness var(--duration-short) ease;
}

.product-popup-modal__button:hover {
  text-decoration-thickness: .2rem;
}

.product-popup-modal__content-info {
  padding-right: 4.4rem;
}

.product-popup-modal__content-info > * {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .product-popup-modal__content-info > * {
    max-height: 100%;
  }
}

.product-popup-modal__toggle {
  background-color: rgb(var(--color-background));
  border: .1rem solid rgb(var(--color-foreground) .1);
  border-radius: 50%;
  color: rgb(var(--color-foreground) .55);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: sticky;
  padding: 1.2rem;
  z-index: 2;
  top: 1.5rem;
  width: 4rem;
  margin: 0 0 0 auto;
}

.product-popup-modal__toggle:hover {
  color: rgb(var(--color-foreground) .75);
}

.product-popup-modal__toggle .icon {
  height: auto;
  margin: 0;
  width: 2.2rem;
}

/* Product gallery sliders */
.product {
  &--stacked {
    & .product__gallery-viewer.splide.is-initialized:not(.is-active) {
      & .splide__list {
        @apply md:(flex flex-wrap);
      }

      & .splide__slide:not(:first-child) {
        width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
      }

      & .splide__arrows {
        @apply md:hidden;
      }
    }
  }

  &--vertical_thumbnail_left,
  &--vertical_thumbnail_right {
    & .product__media-gallery {
      @apply md:!flex;
    }

    & .product__gallery-viewer {
      @apply md:flex-1;
    }

    & .thumbnail-slider {
      @apply md:p-0;
      min-width: calc(var(--thumbnail-width) + 2rem);
    }

    & .thumbnail-list {
      @apply md:flex-col;
    }
  }

  &--vertical_thumbnail_left {
    & .product__media-gallery {
      @apply md:flex-row-reverse;
    }

    & .product__gallery-viewer {
      & .splide__arrow--prev {
        @apply -left-[8rem];
      }

      & .splide__arrow--next {
        @apply -right-16;
      }
    }

    & .thumbnail-slider {
      @apply md:pr-4;
    }
  }

  &--vertical_thumbnail_right {
    & .product__gallery-viewer {
      & .splide__arrow--prev {
        @apply -left-16;
      }

      & .splide__arrow--next {
        @apply -right-[8rem];
      }
    }

    & .thumbnail-slider {
      @apply md:pl-4;
    }
  }
}

.thumbnail-slider {
  @apply px-8;

  & .splide__track {
    @apply w-full;
  }

  & .splide__slide {
    @apply mx-1 lg:mx-2;
    width: calc(var(--thumbnail-width) + .5rem);
    max-width: calc(var(--thumbnail-width) + .5rem);

    @media screen and (min-width: 1024px) {
      width: calc(var(--thumbnail-width) + 1rem);
      max-width: calc(var(--thumbnail-width) + 1rem);
    }
  }

  & .splide__arrows {
    position: unset;
  }

  & .splide__arrow {
    @apply absolute top-1/2 transform -translate-y-1/2;

    &--prev {
      @apply left-0;
    }

    &--next {
      @apply right-0;
    }

    & svg {
      @apply h-8;
    }
  }
}

.thumbnail-list {
  @apply !flex;
}
