.quick-add {
  position: relative;
  grid-row-start: 4;
  margin: 0 0 1rem;
  z-index: 1;
}

.quick-add-modal__content-info h2 {
  font-size: 20px !important;
}

.quick-add-modal__content-info .product__title {
  margin-bottom: 0 !important;
}

.quick-add-modal__content-info .price__regular {
  font-size: 18px;
}

.quick-add-modal__content-info .product__view-details {
  border-top: 1px solid;
  border-bottom: 1px solid;
  text-align: center;
  font-size: 16px;
  padding: 0.7rem;
}

.quick-add-modal__content-info .product__description {
  margin: 0 0 2rem 0 !important;
  font-size: 12px;
}

.quick-add-modal__content-info .product-price {
  margin: 0 !important;
  font-size: 20px !important;
}

.quick-add-modal__content-info .form__label {
  font-size: 14px !important;
  padding: 0;
  margin: 2rem 0 0 0;
}

.quick-add-modal__content-info .icon-caret {
  height: 0.5rem !important;
}

.quick-add-modal__content-info .select__select {
  font-size: 16px;
  height: 40px;
}

.quick-add-modal__content-info .button {
  font-size: 14px !important;
  min-height: 40px !important;
}

.quick-add-modal__content-info .shopify-payment-button {
  height: 40px !important;
}

.quick-add-modal__content-info .shopify-payment-button__button {
  font-size: 14px !important;
  min-height: 35px !important;
  padding: 0px !important;
}

.quick-add-modal__content-info .quantity__input {
  width: 100px !important;
}

.quick-add-modal__content-info .quantity {
  width: 100px;
  min-height: 40px;
}

.quick-add-modal__content-info .quantity__button {
  background-color: #d9d9d94d !important;
  width: 30px;
  height: 30px;
}

.form__label {
  padding-top: 20px;
}

.quick-add-modal {
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  z-index: -1;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(var(--color-foreground), 0.2);
  height: 100%;
}

.quick-add-modal__toggle {
  display: none !important;
}

.quick-add-modal[open] {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}

.quick-add-modal__content {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 3.2rem auto 0;
  width: 100%;
  background-color: rgb(var(--color-background));
  overflow: hidden;
  max-width: var(--page-width);
  width: calc(100% - 3rem);
  background: white;
}

/* ADDED FOR DEMO  */

.quick-add-modal__content .grid {
  display: flex !important;
}

.quick-add-modal__content .product-form__submit {
  background-color: black;
  color: white;
  border: 3px solid black;
}

.quick-add-modal__content .shopify-payment-button {
  border: 3px solid black;
}

.quick-add-modal__content .caption-spaced {
  display: none;
}

.product-form__input input[type="radio"] + label {
  margin: 0;
  border: 1px solid !important;
  border-radius: 5% !important;
}

.full-unstyled-link {
  font-size: 20px;
}

/* END DEMO STYLES */
