#testimonials-section {
  & .content-container {
    @apply
      flex;
  }

  & .multicolumn-card__image-wrapper {
    @apply m-0;
  }

  & .media {
    @apply
      min-w-18;

    &--circle {
      @apply
        max-w-25;
    }
  }
}

.background-blocks {
  flex-direction: column-reverse;

  & .testimonials-card__image-wrapper {
    margin: auto;
    height: 100px;
  }

  & .multicolumn-card-spacing {
    padding-top: 0;
  }

  & .media {
    margin-top: -4rem;
    margin-left: 40%;
    justify-content: center;
  }

  & .multicolumn-card__info {
    padding: 1rem 1rem 4rem;
    margin: 1rem;
  }

  & .multicolumn-card__image {
    height: 100px;
    width: 100px;
  }

  & .multicolumn-card__image-wrapper {
    height: 3rem;
    width: 100%;
  }
}
