.accordion__title {
  max-width: calc(100% - 6rem);

  @apply
    inline-block
    mt-3
    mx-auto
    mb-0
    break-words;
}

.accordion summary {
  @apply
    leading-none
    flex
    relative
    border-t-2
    border-scheme-fg;
}

.accordion svg {
  @apply w-4;
}

/* SHOPIFY STYLES */
.accordion .summary__title {
  @apply
    flex
    flex-1;
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * .6rem);
}

.accordion + .accordion {
  @apply mt-0
    border-t-0;
}

/* TODO: UPDATE THESE COLORS VARIABLES */
.accordion {
  margin-top: 2.5rem;
  margin-bottom: 0;
  border-top: .1rem solid rgb(var(--color-scheme-fg) .08);
  border-bottom: .1rem solid rgb(var(--color-scheme-fg) .08);
}

.accordion .icon-accordion {
  align-self: center;
  fill: rgb(var(--color-scheme-accent));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__content {
  @apply
    mb-6
    break-words
    overflow-x-auto
    py-4
    px-20;
}

.accordion__content img {
  @apply
    max-w-full;
}
