.collection-list-wrapper .collection-list-title {
  margin-bottom: 2rem;
}

.collection-list-wrapper .align-left {
  text-align: left;
}

.collection-list-wrapper .align-center {
  text-align: center;
}

.collection-list-wrapper .align-right {
  text-align: right;
}
