.drawer__inner {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity)) !important;
  width: 40rem !important;
  max-width: calc(100vw - 3rem) !important;
  border: 0.1rem solid rgba(var(--color-foreground), 0.2) !important;
  border-right: 0 !important;
  background-color: rgb(var(--color-background)) !important;
  display: flex !important;
  flex-direction: column !important;
  transform: translateX(100%) !important;
  transition: transform var(--duration-default) ease !important;
}
.icon-remove {
  height: 1.75rem;
}
.cart-item__quantity-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.cart-drawer .price {
  font-size: 1rem;
}
.cart-item__name {
  font-weight: 600;
}
.product-option {
  font-size: .875rem;
}
.cart-drawer .quantity {
  width: 4rem;
}
.cart-drawer .remove-btn {
  padding-right: 0px;
}
.cart-drawer .remove-btn svg {
  margin-left: auto;
}
.cart-drawer .remove-btn h3 {
  margin-left: auto;
}
.cart-item__price-wrapper {
  margin-top: auto;
  margin-bottom: auto;
}
.quantity__button {
  font-size: 1.5rem;
  background-color: black !important;
  color: white;
  height: 1rem;
  width: 1rem;
  margin: auto;
}
.quantity__button .increase {
  padding: 0.1875rem;
}
.quantity__input {
  font-size: 1rem;
}
.cart-drawer .totals__subtotal-value {
  font-size: 1rem;
}
#CartDrawer-Note {
  background: #f3f3f1;
  font-size: 1rem;
}
.cart-drawer .tax-note {
  margin-top: 0.75rem;
}
.drawer__close svg {
  height: 1.5rem;
}
.drawer__heading {
  margin: auto;
}
.cart-drawer .cart__checkout-button {
  max-width: none;
}
@media screen and (max-width: 749px) {
  .drawer__inner {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .cart-drawer .remove-btn {
    min-width: 4rem;
  }
  td {
    padding-top: 0px !important;
  }
  .drawer__heading {
    font-size: 2rem;
  }
}