.drawer__inner {
  background-color: white !important;
  float: right;
  height: 100vh !important;
  overflow-x: auto;
  overflow-y: scroll;
  padding: 0.5rem 3.5rem;
  width: 40rem;
  max-width: calc(100vw - 3rem);
  border: 0.1rem solid rgba(var(--color-foreground), 0.2);
  border-right: 0;
  background-color: rgb(var(--color-background));
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
}
.icon-remove {
  height: 1.65rem;
  margin-top: 0.4rem;
}
.cart-item__quantity-wrapper {
  display: flex;
  justify-content: space-between;
}
.cart-drawer .price {
  font-size: 1rem;
  font-weight: 600;
}
.cart-item__name {
  font-weight: 600;
}
.product-option {
  font-size: 0.8rem;
}
.cart-drawer .quantity {
  width: 4rem;
}
.cart-drawer .remove-btn {
  padding-right: 0;
  padding-top: 0;
}
.cart-drawer .remove-btn svg {
  margin-left: auto;
  margin-top: 0;
}
.cart-drawer .remove-btn h3 {
  margin-left: auto;
  margin-top: 0;
}
.cart-item__price-wrapper {
  margin: auto 0;
}
.quantity__button {
  font-size: 1.5rem;
  background-color: black !important;
  color: white;
  height: 1rem;
  width: 1rem;
  margin: auto;
}
.quantity__button .increase {
  padding: 3px;
}
.quantity__input {
  font-size: 1rem;
}
.cart-drawer .totals__subtotal-value {
  font-size: 1rem;
  font-weight: 600;
}
#CartDrawer-Note {
  font-size: 1rem;
  border: 1px solid gray;
  background: #f3f3f1;
}
.cart-drawer .tax-note {
  margin: 0.8rem 0 1rem auto;
  text-align: left;
  font-size: 1rem;
}
.drawer__close svg {
  height: 1.5rem;
  width: 1.5rem;
}
.drawer__heading {
  margin: auto;
}
.cart-drawer .cart__checkout-button {
  max-width: none;
  background: black;
  color: white;
  min-height: 3.5rem;
}
@media screen and (max-width: 749px) {
  .drawer__inner {
    padding: 0.5rem 1.3rem;
  }
  .cart-drawer .remove-btn {
    min-width: 4rem;
  }
  td {
    padding-top: 0 !important;
  }
  .drawer__heading {
    font-size: 2rem;
  }
}