.collection-hero {
  background-color: var(--color-scheme-bg);
  position: relative;
  color: var(--color-scheme-text);
}
.collection-hero__image {
  max-height: 20rem;
  -o-object-fit: cover;
  object-fit: cover;
}
.collection-hero__text-wrapper {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
@media (min-width: 480px) {
  .collection-hero__text-wrapper {
    max-width: 480px;
  }
}
@media (min-width: 640px) {
  .collection-hero__text-wrapper {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .collection-hero__text-wrapper {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .collection-hero__text-wrapper {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .collection-hero__text-wrapper {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .collection-hero__text-wrapper {
    max-width: 1536px;
  }
}
.collection-hero__title, .collection-hero__subtitle {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-scheme-text);
}