.cart {
  display: block;
  position: relative;
}
.cart__footer {
  --tw-border-opacity: 1 !important;
  border-color: rgba(194, 194, 194, var(--tw-border-opacity)) !important;
  border-style: solid !important;
  border-width: 1px !important;
}
#Cart-note {
  font-style: italic;
}