.featured-collection-slider {
  display: none;
}

.featured-collection-slider.active {
  display: block;
}

.featured-collection-slider > div:not(.splide) .splide__list {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

#collection-tab-container {
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}

.collection-tab-btn {
  background-color: var(--color-scheme-fg);
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.featured-collection-divider {
  height: 1px;
  border: none;
  color: #000;
  background-color: #000;
  width: 140px;
  text-align: center;
  margin: 0 auto 2rem;
}

.featured-collection-slider .slider-buttons {
  display: none;
}

.featured-collection-slider .title-wrapper {
  margin-bottom: 1.2rem;
}

.collection__title h2 {
  text-align: center;
}

.featured-collection-slider .title-wrapper h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
