/*

  /_      -/--/- _,_ ,__,   ,
_/_)_(_/__/__/__(_/_/ / (__/_)_

*/

.buttons {
  > .btn:not(:last-child),
  > .btn:only-child {
    @apply <sm:(my-4 mr-2);
  }
}

.btn {
  @apply inline-block
    py-xs
    px-8
    bg-button-bg
    text-button-fg
    focus:outline-none
    focus:ring
    focus:ring-scheme-accent;

  &.primary {
    --button-bg: theme('colors.scheme-bg');
    --button-fg: theme('colors.scheme-accent');

    @apply border border-scheme-accent;
  }

  &.secondary {
    --button-bg: theme('colors.scheme-accent');
    --button-fg: theme('colors.scheme-bg');
  }

  &-background-1 {
    --button-bg: theme('colors.bg1');
    --button-fg: theme('colors.text');
  }

  &-background-2 {
    --button-bg: theme('colors.bg2');
    --button-fg: theme('colors.bg1');
  }

  &-accent-1 {
    --button-bg: theme('colors.accent1');
    --button-fg: theme('colors.bg1');
  }

  &-accent-2 {
    --button-bg: theme('colors.accent2');
    --button-fg: theme('colors.bg1');
  }

  &-success {
    --button-bg: theme('colors.success');
    --button-fg: theme('colors.bg1');
  }

  &-warning {
    --button-bg: theme('colors.warning');
    --button-fg: theme('colors.bg1');
  }

  &-error {
    --button-bg: theme('colors.error');
    --button-fg: theme('colors.bg1');
  }

  &--large {
    @apply text-xl;
  }

  &--qty {
    @apply
      self-center
      leading-0
      p-1
      md:p-2;

    > svg {
      @apply
        h-[.75rem]
        w-[.75rem]
        md:(h-4 w-4);
    }
  }

  &.round {
    @apply rounded-[.625rem];
  }
}

.btn-outline {
  @apply border border-button-fg;
}

.btn-shadow {
  @apply relative;

  &::after {
    @apply block absolute top-[6px] left-[6px] -z-1 h-full w-full border border-button-fg;
    border-radius: inherit;
    content: '';
  }
}
