<div class="page-width">
  <h1 class="color-primary">RTE Content</h1>
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu purus eros. Quisque sollicitudin, lorem ac vestibulum accumsan, leo ex semper arcu, pretium sollicitudin diam erat in ante. Praesent sed congue ligula. Duis a pretium dui. Sed laoreet quis urna vitae tristique. Curabitur in hendrerit nunc, et auctor dui. Cras ac risus ac tortor tempor luctus sit amet in tortor. Integer in lacinia lectus. Phasellus ultrices mollis massa, id consectetur tortor auctor eget. Nam odio justo, imperdiet in purus id, euismod pretium dui. Nulla facilisi. Integer sollicitudin, ante vitae pellentesque sollicitudin, eros tellus fermentum lorem, quis maximus orci metus eget neque. Suspendisse lobortis sapien eget tortor ullamcorper tincidunt.</p>
</div>